body{background:#000000;
	color:silver;
	font-size:20px;
}
h1{color:#fff;}
	a{color:orange;}
	div p{color:#fff;}
	li a{color:silver;}
	td div{color:#fff;
	}
	span{
		color:blue;
	}
	a div class:a{
		color:orange;
	}
	h2{
		color:#fff;
	}
	
	